$contextmenu_background = #180018
$chat_background        = #130013
$background             = #180018

$normal_text    = #fff
$paragraph_text = #eee
$input_text     = #aaa

$borders    = rgba(255,255,255,0.1)
$green      = rgba(255,255,255,0.2)
